@using Dashboard.Borrowed
@using Dashboard.Helpers
@using Utils
@model Fedora.Abstractions.Binary

<div>
    <partial name="_ArchivalGroupHeader" />

    <partial name="_ParentLink" />

    <h1 class="display-4">📄 @Model.GetDisplayName()</h1>

    <partial name="_CommonMetadata" model="Model" />

    <table class="table">
        <tr>
            <th scope="row">File name</th>
            <td>@Model.FileName</td>
        </tr>
        <tr>
            <th scope="row">Content type</th>
            <td>@Model.ContentType</td>
        </tr>
        <tr>
            <th scope="row">Size</th>
            <td>@StringUtils.FormatFileSize(Model.Size, true)</td>
        </tr>
        <tr>
            <th scope="row">Origin</th>
            <td><a target="_blank" href="@S3Util.GetAwsConsoleUri(Model.Origin)">@Model.Origin</a></td>
        </tr>
    </table>
</div>
